.MF
.metadata/
.classpath
.project
.settings/
eclipse/
portfolio/
track005_jsp/tomcat9.0/
META-INF/
/Servers/
lib/
.jar
.properties
application-oauth.properties
.env

# 빌드 결과물 무시
/bin/
/build/
track007/test1/

# IDE 관련
.idea/
*.iml

# OS별 임시파일
*.DS_Store
Thumbs.db


# 모듈 파일
/node_modules/
.next/

track008_1_NODEREACT/back/node_modules
track008_1_nodereact/front/node_modules
track008_1_nodereact/front/.next

track008_test/back/node_modules
track008_test/front/node_modules
track008_test/front/.next

track008_2_BOOTREACT/front1/node_modules
track008_2_BOOTREACT/front2/node_modules