.MF
.metadata/
.classpath
.project
.settings/
eclipse/
portfolio/
track005_jsp/tomcat9.0/
META-INF/
/Servers/
lib/
.jar
.properties
application-oauth.properties
.env

# 빌드 결과물 무시
/bin/
/build/

# IDE 관련
.idea/
*.iml

# OS별 임시파일
*.DS_Store
Thumbs.db


track008_1_NODEREACT/back/node_modules