@charset "UTF-8";

header nav { background-image: linear-gradient(135deg, #666, #111); }

#demo { height: 440px; object-fit: cover; overflow: hidden; }

/* 배경 body fixed 하고 원하는 배경부분만 투명하게 */
body { 
    background-image: url(../img/forest.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed; /*배경 고정*/
}

/* transform+transition */

.mybg { background-color: rgba(255, 255, 255, 0.2); }

h3 { font-size: 24px; font-weight: bold; margin-bottom: 30px; transition: all 0.3s; }
section:hover h3 { color: orangered; }

h4 { font-size: 16px; font-weight: bold; }

.progress { color: #fff; }

ul { padding: 0; }
p, li {  font-size: 12px; }

li.nav-item { transition: all 0.3s; }
li.nav-item:hover { font-weight: bold;}