@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

.noto-serif-kr {
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.gowun-batang {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
    /* color */
    --color-bg: #EEE;
    --color-text: #393E46;
    --color-success: #76EAD7;
    --color-point: #C4FB6D;

    /* font-family */
    --font-display: 'Gowun Batang', 'Noto Serif KR', serif;
    --font-body: 'Noto Sans KR', Arial, Helvetica, sans-serif;

    /* border-radius */
    --radius-sm: 8px;   /* 작은 버튼 */
    --radius-md: 16px;  /* 카드 */
    --radius-lg: 24px;  /* 큰 컨테이너 */
    --radius-xl: 32px;  /* 이미지 */

    /* font-size */
    --section-header: 1.2em;
    --section-text: 0.8em;
}

a { color: inherit; text-decoration: none; }

body { 
    font-family: var(--font-body); 
    background-color: var(--color-bg); 
    color: var(--color-text);
}

header, h3, h4 { 
    font-family: var(--font-display);
    font-size: var(--section-header);
    font-weight: bold;
}

p, pre, li:not(.nav-item) {
    font-size: var(--section-text);
}

nav {
    background-color: transparent; 
}